<div [formGroup]="form" class="course-details-form">
  <mat-form-field floatLabel="always">
    <input matInput placeholder="Course title" formControlName="title" />
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Course title</mat-label>
    <input matInput placeholder="ex. Test title" formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput placeholder="Course title" formControlName="title" />
    <span matPrefix>123</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Course title</mat-label>
    <input matInput placeholder="Course title" formControlName="title" #title />
    <mat-hint align="end"> {{ title.value.length }}/ 60 </mat-hint>
    <mat-error *ngIf="courseTitle.errors?.maxlength">
      Max length is only 60
    </mat-error>
    <mat-error *ngIf="courseTitle.errors?.minlength">
      Min length is 5 characters
    </mat-error>
  </mat-form-field>

  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="outline">
    <mat-select formControlName="category" placeholder="Select category">
      <mat-option>None</mat-option>

      <mat-optgroup label="Newbies">
        <mat-option value="beginners">Berinners</mat-option>
        <mat-option value="lowskilled">Low skilled</mat-option>
      </mat-optgroup>

      <mat-option value="intermediate">Intermediate</mat-option>
      <mat-option value="advanced">Advanced</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      formControlName="releasedAt"
      placeholder="Release date"
      [matDatepicker]="releasedAtPicker"
    />
    <mat-datepicker-toggle matSuffix [for]="releasedAtPicker">
    </mat-datepicker-toggle>

    <mat-datepicker #releasedAtPicker [dateClass]="dateClass"> </mat-datepicker>
  </mat-form-field>

  <mat-checkbox
    color="primary"
    formControlName="downloadsAllowed"
    [indeterminate]="true"
  >
    Downloads allowed?
  </mat-checkbox>

  <mat-form-field>
    <textarea
      appearence="inline"
      matInput
      formControlName="longDescription"
      placeholder="Long description"
    ></textarea>
  </mat-form-field>

  {{ this.form.get("downloadsAllowed").value }}
</div>
